@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 50% 0%;
    }
}   

.mainbox{
    /* padding: 20px; */
    /* box-shadow: 5px 10px black; */
    border-radius: 25px;
    width: 90vw;
    height: 80vh;
    margin: auto;
    z-index: -1;
    background: linear-gradient(-45deg,  #C1E1C1,#f8cfa8, #eddfff, #ffdbf7, #ffdbe5, #ffdbf7, #eddfff,#FFFAA0);
    background-size: 300% 300%;
    animation: gradient 6s ease infinite;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;
}
@media (min-width: 751px) {
    .cookiesbox{
        position: absolute;
        padding: 20px;
        margin : auto;
        top : 10%;
        left: 20%;
        right : 20%;
        /* box-shadow: 5px 10px black; */
        border-radius: 25px;
        /* display: flex; */
        z-index:9999;
        background-color: #E4D3FF;
        z-index:1;
        font-family: 'Lato', sans-serif;
        justify-content: center;
        align-items: center;
        font-size: small;
    }
}
@media (max-width: 750px) {
    .cookiesbox{
        position: absolute;
        padding: 5px;
        margin : auto;
        top :5%;
        left: 20%;
        right : 20%;
        /* box-shadow: 5px 10px black; */
        border-radius: 25px;
        /* display: flex; */
        background-color: #E4D3FF;

        font-family: 'Lato', sans-serif;
        z-index:9999;
        font-size:xx-small;
    }

}

.humanChat{
    position : relative;
    z-index: 5;
    outline-style: solid;
    outline-color: white;
    outline-width: 2px;
    padding: 20px;
    /* box-shadow: 5px 3px white; */
    border-radius: 50px;
    width: 71.2%;
    height:auto;
    float: left;
    background-color: #F2D7F2;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
}

.aiChat{
    position : relative;
    outline-style: solid;
    outline-color: white;
    outline-width: 2px;
    padding: 20px;
    /* box-shadow: 5px 5px white; */
    border-radius: 50px; /*  */
    width: 70%;
    height:auto;
    background-color: #E4D3FF;
    margin-left : 30px;
    font-family: 'Lato', sans-serif
}

.date {
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}

.backdrop {
    padding-top: 3%;
}

